<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd" bootstrap="dev/test/SeneTestCase.php" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="true" beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="Dev">
      <directory>dev/test</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">kero/sine</directory>
      <directory suffix=".php">app/view</directory>
      <directory suffix=".php">app/model</directory>
      <directory suffix=".php">app/controller</directory>
    </include>
  </source>
</phpunit>
